body{background-color:green;}

p{color:black;font-family: Arial;margin:10px;}

h1, h3{color: purple; font-family:" AR DESTINE";}


table {color:blue;font-family: Arial;margin:10px; background-color:white;}

h5 {color:white; font-family:Arial;border:1px; background-color:black; position:absolute;}


